<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="account" class="com.ohgiraffers.common.PersonalAccount">
<!--        class속성에는 직접쓰는 class를 써야지 인터페이스를 연결하면 안된다-->
        <constructor-arg index="0"><value>123-456-789012</value></constructor-arg>
        <constructor-arg index="1"><value>0</value></constructor-arg>
    </bean>
<!--    생성자 주입하는 법-->
<!--    <bean id="member" class="com.ohgiraffers.common.Member">-->
<!--        <constructor-arg name="sequence" value="1"/>-->
<!--        <constructor-arg name="name" value="홍길동"/>-->
<!--        <constructor-arg name="phone" value="010-7897-4561"/>-->
<!--        <constructor-arg name="email" value="maxsf@naver.com"/>-->
<!--        <constructor-arg name="personalAccount" ref="account"/>-->
<!--&lt;!&ndash;        ref 속성은 다른 bean id값을 가져와서 쓸수있다 이것이 생성자주입이다&ndash;&gt;-->
<!--    </bean>-->

<!--    setter 주입 방법  -->
    <bean id="memeber" class="com.ohgiraffers.common.Member">
        <property name="sequence" value="1"/>
        <property name="name" value="홍길동"/>
        <property name="email" value="mac@nave.com"/>
        <property name="phone" value="010-948-4846"/>
        <property name="personalAccount" ref="account"/>

    </bean>
</beans>